 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Forest Operations Map - User Administrator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Add Users<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">User / Roles Summaries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="debug" tabindex="-1" aria-disabled="true">Debug Info</a>
        </li>
        <li class="nav-item">
            <!-- <button type="button" class="btn btn-success">Login</button> -->
            <app-login-button></app-login-button>
        </li>
        </ul>
    </div>
  </div>
  </nav>



