[loggers]
keys=root,main,crud,database,dependencies,initdb,router


[handlers]
keys=consoleHandler
#, logFileHandler

[formatters]
keys=consoleFormatter

#----- LOGGERS

[logger_root]
level=DEBUG
handlers=consoleHandler

[logger_main]
level=DEBUG
handlers=consoleHandler
qualname=main
propagate=0

[logger_crud]
level=DEBUG
handlers=consoleHandler
qualname=app.crud
propagate=0

[logger_database]
level=DEBUG
handlers=consoleHandler
qualname=app.database
propagate=0

[logger_dependencies]
level=DEBUG
handlers=consoleHandler
qualname=app.dependencies
propagate=0

[logger_initdb]
level=DEBUG
handlers=consoleHandler
qualname=app.initdb
propagate=0

[logger_router]
level=DEBUG
handlers=consoleHandler
qualname=app.router.healthAuths
propagate=0




#----- HANDLERS

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

#[handler_logFileHandler]
#class=FileHandler
#formatter=consoleFormatter
#args=('%(logfilename)s',)

#----- FORMATTERS

[formatter_consoleFormatter]
format=%(asctime)s - %(lineno)s - %(name)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter