[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
requests = "*"
fastapi-pagination = "*"
authlib = "*"
httpx = "*"
itsdangerous = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.9"
