<app-header></app-header>
<!-- <div *ngIf="isAuthenticated; else noAuth"> -->

<div class="container" *ngIf="isAuthenticated;">
    <div class="container">
        <hr>
        <div class="row">
            <div class=".col-md-10 col-md-offset-2"></div>
        </div>
        <div class="row"></div>
        <div class=".col-md-12"></div>
        <div class="row">
            <div class=".col-md-2 col-md-offset-2"></div>
            <div class="input-group mb-4 col-md-offset-2">
                <div class="w-50 h-100 p-3">
                    <app-user aria-label="Username"></app-user>
                </div>
                <!-- <input type="text" class="form-control" placeholder="Enter Username or email" aria-label="Username"
                    aria-describedby="basic-addon1">-->
                <span class="input-group-text"> </span>
                <input type="text" class="form-control" placeholder="Forest Client Name" aria-label="Usernamse"
                    aria-describedby="basic-addon2">
                <span class="input-group-text"> </span>
                <app-kc-submit></app-kc-submit>
            </div>
            <div class=".col-md-2 col-md-offset-2">

            </div>
            <div class=".col-md-2"></div>
        </div>
        <div class="row"></div>
        <div class="row"></div>

    </div>
</div>
