<app-header></app-header>
<!-- <div *ngIf="isAuthenticated; else noAuth"> leaving here for now as will implement later on the else part ...-->
<div *ngIf="isAuthenticated;">
    <div class="container">
        <hr>
        <div class="row justify-content-around">
            <div class="col">
                <app-user aria-label="Username"></app-user>
            </div>
            <div class="col ">
                <app-forestclient></app-forestclient>
            </div>
            <div class="col ">
                <button type="button" class="btn btn-primary">Add User / Role</button>
            </div>
        </div>
    </div>
</div>
